<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rewardsDice</key>
	<dict>
		<key>Bronze</key>
		<integer>0</integer>
		<key>Silver</key>
		<integer>0</integer>
		<key>Gold</key>
		<integer>0</integer>
		<key>Platinum</key>
		<integer>0</integer>
		<key>Diamond</key>
		<integer>0</integer>
		<key>Ruby</key>
		<integer>0</integer>
	</dict>
	<key>powerUps</key>
	<dict>
		<key>doubleDice</key>
		<integer>0</integer>
		<key>doublePayout</key>
		<integer>0</integer>
		<key>triplePayout</key>
		<integer>0</integer>
		<key>lifeline</key>
		<integer>0</integer>
		<key>rewind</key>
		<integer>0</integer>
	</dict>
	<key>achievementTracker</key>
	<dict>
		<key>GamesPlayed</key>
		<integer>0</integer>
		<key>HighestWager</key>
		<integer>0</integer>
		<key>DoubleDice</key>
		<integer>0</integer>
		<key>DoublePayout</key>
		<integer>0</integer>
		<key>TriplePayout</key>
		<integer>0</integer>
		<key>Lifeline</key>
		<integer>0</integer>
		<key>Rewind</key>
		<integer>0</integer>
		<key>BlueWin</key>
		<integer>0</integer>
		<key>RedWin</key>
		<integer>0</integer>
		<key>GreenWin</key>
		<integer>0</integer>
		<key>YellowWin</key>
		<integer>0</integer>
		<key>CyanWin</key>
		<integer>0</integer>
		<key>PurpleWin</key>
		<integer>0</integer>
	</dict>
	<key>unlockedThemes</key>
	<array>
		<string>Default</string>
	</array>
	<key>currentThemeName</key>
	<string>Default</string>
	<key>musicMuted</key>
	<false/>
	<key>soundMuted</key>
	<false/>
	<key>betDenomination</key>
	<integer>1</integer>
	<key>coinsUnlocked</key>
	<integer>0</integer>
	<key>highscore</key>
	<integer>50</integer>
	<key>coins</key>
	<integer>50</integer>
	<key>starCoins</key>
	<integer>0</integer>
	<key>XInitializerItem</key>
	<string>DoNotEverChangeMe</string>
</dict>
</plist>
