<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rewardsDice</key>
	<dict>
		<key>Bronze</key>
		<integer>0</integer>
		<key>Silver</key>
		<integer>0</integer>
		<key>Gold</key>
		<integer>0</integer>
		<key>Platinum</key>
		<integer>0</integer>
		<key>Diamond</key>
		<integer>0</integer>
		<key>Ruby</key>
		<integer>0</integer>
	</dict>
	<key>powerUps</key>
	<dict>
		<key>lifeline</key>
		<integer>0</integer>
		<key>rewardBoost</key>
		<integer>0</integer>
		<key>doubleDice</key>
		<integer>0</integer>
		<key>doublePayout</key>
		<integer>0</integer>
		<key>triplePayout</key>
		<integer>0</integer>
		<key>reroll</key>
		<integer>0</integer>
	</dict>
	<key>achievementTracker</key>
	<dict/>
	<key>unlockedThemes</key>
	<array>
		<string>Default</string>
	</array>
	<key>currentThemeName</key>
	<string>Default</string>
	<key>autoLoadEnabled</key>
	<false/>
	<key>musicMuted</key>
	<false/>
	<key>soundMuted</key>
	<false/>
	<key>betDenomination</key>
	<integer>5</integer>
	<key>coinsUnlocked</key>
	<integer>0</integer>
	<key>gamesPlayed</key>
	<integer>0</integer>
	<key>highscore</key>
	<integer>100</integer>
	<key>coins</key>
	<integer>100</integer>
	<key>starCoins</key>
	<integer>0</integer>
	<key>XInitializerItem</key>
	<string>DoNotEverChangeMe</string>
</dict>
</plist>
