<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>unlockedCoins</key>
	<integer>0</integer>
	<key>defaultBetValue</key>
	<integer>1</integer>
	<key>coins</key>
	<integer>25</integer>
	<key>highscore</key>
	<integer>25</integer>
	<key>XInitializerItem</key>
	<string>DoNotEverChangeMe</string>
</dict>
</plist>
